body{
	background-color: #f08080
}
ul{background-color: red
}
li{
	display:inline-block;
	font-size:2rem;
	text-align: center;
	width:20rem;
	height: 2rem;
}
#main{float: right;
	margin-right: 2rem;
	width:25rem;
	height:2rem;
}
img{
	margin: auto;
	display: flex;
	float:right;
	width:40%;
}
#order{display: flex;
	margin: auto;
	float: left;
	font-size: 0.3rem;
	width: 20%;


}
ol > li{
	font-size: 1rem;
}